.projects-container-heading {
  text-align: center;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
  justify-content: center;
}

@media only screen and (max-width: 375px) {
  .projects-container-heading {
    font-size: 1.05rem;
  }
}
