.project-card {
  background-color: black;

  width: 20em;
  height: 30em;
  border-radius: 8px;
  margin: 5px 5px;
  color: white;
  border: 0.2px solid white;
 
  box-shadow: 5px 5px 5px black;
  font-size: 1rem;
}
.project-card:hover {
  animation: projectCardHoverAnimation 0.5s ease-in-out forwards;
  cursor: pointer;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    225deg,
    rgba(0, 0, 0, 1) 20%,
    rgb(0, 61, 98) 100%
  );
}
@keyframes projectCardHoverAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}
.project-img-container {
  width: 100%;
  height: 50%;
  padding-top: 5px;
  border-radius: 8px;
}
.project-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;

  background-repeat: no-repeat;
}

.project-info {
  padding: 10px 10px;
}

.project-name {
  text-decoration: none;
  text-align: center;
}
.project-name:visited {
  color: white;
}

@media only screen and (max-width: 375px) {
  .project-card {
    width: 100%;
    height: 20em;

    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 414px) {
  .project-card {
    width: 100%;
    height: 20em;

    font-size: 0.8rem;
  }
}
