.header-section {
  text-align: center;
  border: 2px solid red;
}
.heading {
  font-size: 3rem;
  font-weight: 700;
}

.heyThereText {
  display: block;
  width: 100%;
  border: 2px solid green;
}
.webDeveloperText {
  border: 2px solid red;
  animation: displayWebDeveloper 5s ease-in-out infinite;
}
@keyframes displayWebDeveloper {
  0% {
    color: brown;
  }
  25% {
    color: aquamarine;
  }
  50% {
    color: violet;
  }
  75% {
    color: blueviolet;
  }
  100% {
    color: orange;
  }
}

@media only screen and (max-width: 375px) {
  .header-section {
    display: block;
    width: 100%;
  }
  .heading {
    font-size: 1.1rem;
    font-weight: 700;
  }
}
