.sidebar{
position: absolute;
transform: translateX(-100%)
animation:translateSideBar 1s ease in out forwards;
}
@keyframes translateSideBar{
0%{
transform: translateX(0%)}
100%{
transform: translateX(100%)}
}
