.about-me-container {
  display: flex;
  width: 80vw;
  height: 70vh;
  justify-content: center;
  margin: 0 auto;
}
.my-img-container {
  width: 50%;
  padding: 1rem;
  border-right: 0.2px solid white;
  border-radius: 0 50px 0 0;
}
.my-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-left: 0.2px solid white;

  border-bottom: 0.2px solid white;
  border-radius: 0 50px 0 0;
}

.about-me {
  width: 50%;
  padding: 1rem;
}

.about-me-heading {
  text-align: center;
}

@media only screen and (min-width: 280px) and (max-width: 1080px) {
  .about-me-container {
    max-width: 100%;
    flex-wrap: wrap;
  }
  .my-img-container {
    border: none;
  }
  .my-img {
    border: none;
    border-radius: 0;
  }
  .about-me {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
  }
  .about-me-heading {
    font-size: 1.3em;
  }
}
/* @media only screen and (max-width: 414px) {
  .about-me-container {
    max-width: 100%;
    flex-wrap: wrap;
  }
  .my-img-container {
    border: none;
  }
  .my-img {
    border: none;
    border-radius: 0;
  }
  .about-me {
    width: 100%;
    padding: 10px;
    font-size: 0.8rem;
  }
  .about-me-heading {
    font-size: 1.05rem;
  }
} */
